#wrapper {
  overflow-x: hidden;
  background-color: #f8f9fa;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 1.5rem 1.25rem;
  font-size: 1.2rem;
}

/* En escritorio, mostrar sidebar */
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
}

.main-content {
  min-width: 100vw;
}

@media (min-width: 768px) {
  .main-content {
    min-width: 0;
    width: 100%;
  }
}