.bg-mesh {
    background-color: #f6f7f8;
    background-image: radial-gradient(at 100% 0%, rgba(14, 24, 42, 0.05) 0px, transparent 50%),
                      radial-gradient(at 0% 100%, rgba(14, 24, 42, 0.02) 0px, transparent 50%);
}

/* Transición suave para el botón */
.transition-all {
    transition: all 0.2s ease-in-out;
}